<div>
<mat-toolbar>
    <mat-toolbar-row>
    <h2>Update Mission</h2>
    <div class="flex-spacer"></div>
    <button mat-raised-button color="primary" routerLink="/missions">CANCEL</button>
    </mat-toolbar-row>
</mat-toolbar>
</div>

<div class="mat-elevation-z3" id="mission-edit-form-container">
<mat-toolbar color="primary">
    <mat-toolbar-row>
    <h3>Update the data of the Mission</h3>
    </mat-toolbar-row>
</mat-toolbar>

<form [formGroup]="modifyForm" id="mission-edit-form">
    <mat-form-field class="mission-edit-form-field">
        <label>
            <input matInput placeholder="" formControlName="start_date" [matDatepicker]="start_date_picker" #start_date>
        </label>
        <mat-datepicker-toggle matSuffix [for]="start_date_picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #start_date_picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="mission-edit-form-field">
        <label>
            <input matInput placeholder="" formControlName="end_date" [matDatepicker]="end_date_picker" #end_date>
        </label>
        <mat-datepicker-toggle matSuffix [for]="end_date_picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #end_date_picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="mission-edit-form-field">
        <mat-select aria-label="Is Active" placeholder="" formControlName="is_active" #is_active>
            <mat-option [value]=true>TRUE</mat-option>
            <mat-option [value]=false>FALSE</mat-option>
        </mat-select>
    </mat-form-field>

    <div class="flex">
        <button class="flex-right" type="submit" (click)="updateMission(start_date.value, end_date.value, is_active.value)" [disabled]="false" mat-raised-button color="accent">Save</button>
    </div>

</form>
</div>  